.ascendant {
	padding-right: 24px;
    background: #4e5d6c url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10'%3e%3cpath fill='%23343a40' d='M4 0L0 4h8z'/%3e%3c/svg%3e") right 4px center/16px 20px no-repeat;;
}

.descendant {
	padding-right: 24px;
    background: #4e5d6c url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10'%3e%3cpath fill='%23343a40' d='M4 10L0 6h8z'/%3e%3c/svg%3e") right 4px center/16px 20px no-repeat;;
}

#div-table {
	box-shadow: rgb(0, 0, 0) 0px 5px 10px 0px;
	margin: auto;
	background-color: #df691a;
	margin-bottom: 30px;
}

#header {
	height: 75px;
}

#footer {
	background-color: rgb(41, 45, 47);
	width: 100%;
	height: 100px;
	margin-top: 30px;
}

#wrapper {
	min-height: calc(100vh - 205px);
}

#manage-button {
	width: max-content;
	margin: auto;
}

.x.axis path {
	display: none;
}

.overlay {
    fill: none;
  	pointer-events: all;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 0.5;
}

.focus circle {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
}

.x line, .y line {
	stroke-width: 0.3px;
}

.button-duration {
	cursor: pointer;
    border: 0;
    padding: 2px;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
}

.button-duration:hover {
	background-color: rgb(33, 35, 36);
}

.duration-active{
	background-color: rgb(33, 35, 36);
}

input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }

.round {
  	position: relative;
}

.round label {
	background-color: rgb(45, 46, 47);
	border: 1px solid rgb(45, 46, 47);
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.round label::after {
	border: 2px solid rgb(45, 46, 47);
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 6px;
	transform: rotate(-45deg);
	width: 12px;
}

.round label:hover {
  	background-color: rgb(33, 35, 36);
}

.round input[type="checkbox"] {
  	visibility: hidden;
}

.round input[type="checkbox"]:checked + label:after {
  	opacity: 1;
}

.map-circle, .legend-round, .td-city:hover {
	cursor: pointer;
}

.td-city {
	background-color: #844012;
}

.td-city:hover {
	background-color: #3e1e08;
}