.ascendant {
	padding-right: 24px;
    background: #4e5d6c url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10'%3e%3cpath fill='%23343a40' d='M4 0L0 4h8z'/%3e%3c/svg%3e") right 4px center/16px 20px no-repeat;;
}

.descendant {
	padding-right: 24px;
    background: #4e5d6c url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10'%3e%3cpath fill='%23343a40' d='M4 10L0 6h8z'/%3e%3c/svg%3e") right 4px center/16px 20px no-repeat;;
}

#div-table {
	box-shadow: rgb(0, 0, 0) 0px 5px 10px 0px;
	margin: auto;
	background-color: #df691a;
	margin-bottom: 30px;
}

#header {
	height: 75px;
}

#footer {
	background-color: rgb(41, 45, 47);
	width: 100%;
	height: 100px;
	margin-top: 30px;
}

#wrapper {
	min-height: calc(100vh - 205px);
}

#manage-button {
	width: max-content;
	margin: auto;
}



.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 4px;
}

.overlay {
    fill: none;
  	pointer-events: all;
}

.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.2;
}

.grid path {
  	stroke-width: 0;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 0.5;
}

.focus circle {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
}
  
.hover-line {
	stroke: #000;
	stroke-width: 0.5px;
	stroke-dasharray: 4,3;
}

.x line, .y line {
	stroke-width: 0.3px;
}